@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0; 
    padding: 0; 
    font-family: 'Open Sans', sans-serif;

}

.mainContainer {
    display:grid;
    height:100vh;
    grid-template-columns: 0.5fr 0.25fr 1.25fr 1.25fr 0.25fr 0.5fr;
    grid-template-rows: 0.25fr 4.6fr 0.2fr;

    grid-template-areas:
    "sleuth sortBy search search search loginSettings"
    "sidebar itemHolder itemHolder itemHolder itemHolder itemHolder"
    "sidebar itemHolder itemHolder itemHolder itemHolder itemHolder"
}

#searchBar {
    background-color:orange;
    display: inline-flex;
    padding: 10px 10px;
    grid-area: search;
}

#searchBar h3 {
    padding: 3px 10px;
}

#search-bar {
    height: 30px;
    min-width: 200px;
}

#itemHolder {
    background-color:purple;
    grid-area: itemHolder;
    display:grid;
    grid-template-columns: auto auto auto auto;

}

#sidebar {
    background-color: red;
    grid-area: sidebar;
}

#sidebar h1 {
    text-align: center; 
    padding: 10px; 
}

#template-btn-container {
    margin: 50px 70px; 
}

#template-btn {
    font-size: 20px;
    padding: 10px 50px; 
    background-color: aqua;
    border: none;
    border-radius: 20px;
}

#sortBy {
    background-color: chartreuse;
    grid-area: sortBy;
}

#sortBy h3 {
    text-align: center;
    padding: 12px;
}

#loginSettings {
    background-color: green;
    grid-area: loginSettings;
}

.sidebar-fns li {
    min-height: 30px;
    min-width: 150px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 50px 20px;
    color: black;
    background-color: aqua;
    border-radius: 20px;
    cursor: pointer;
}
#sleuthLogo{
    background-color:cyan;
    grid-area: sleuth;
}

.itemCreatorContainer {
display:hidden;
height:100vh;
grid-template-columns: 1fr 4.5fr 1fr;
grid-template-rows: 1fr 4fr 1fr 1fr;
grid-template-areas:
"itemCreatorTemplate itemCreatorProperties ."
". itemCreatorProperties ."
". itemCreatorProperties itemCreatorFavorite"
"itemCreatorCancel itemCreatorProperties itemCreatorConfirm"
}
#itemCreatorTemplateDiv{
    background-color: red;
    grid-area:itemCreatorTemplate;
}
#itemCreatorConfirmDiv{
    background-color:blue;
    grid-area:itemCreatorConfirm;
}
#itemCreatorCancelDiv{
background-color: green;
grid-area:itemCreatorCancel;
}
#itemCreatorPropertiesDiv{
background-color: yellow;
grid-area:itemCreatorProperties;
}
#itemCreatorFavoriteDiv{
background-color: pink;
grid-area:itemCreatorFavorite;
}