<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="assets/SleuthLogo.png">
    <title>Sleuth Login</title>
</head>

<body>
    <div class="loginContainer">
        <h1>Sleuth Login</h1>
        <% if(messages.error) { %>
            <%= messages.error%>
                <% } %>
                    <form action="/login" method="POST">
                        <div class="textField">
                            <input type="text" id="username" name="username" required>
                            <span></span>
                            <label for="username">Username</label>
                        </div>
                        <div class="textField">
                            <input type="password" id="password" name="password" required>
                            <span></span>
                            <label for="password">Password</label>
                        </div>
                        <button type="submit">Log in</button>
                    </form>
                    <div class="registerLink">
                        Not a member? <a href="/register">Register</a>
                    </div>

    </div>

</body>

</html>