@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    --color-primary: #5603AD;
    --color-primary-light: #8367C7;
    --color-secondary: #EE4B6A;
    --color-dark: #343434;
    --color-light: #F4EBD9;

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.mainContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 0.25fr 1.25fr 1.25fr 0.25fr 0.5fr;
    grid-template-rows: 0.25fr 4.6fr 0.2fr;

    grid-template-areas:
        "sleuth sortBy search search search loginSettings"
        "sidebar itemHolder itemHolder itemHolder itemHolder itemHolder"
        "sidebar itemHolder itemHolder itemHolder itemHolder itemHolder"
}

#searchBar {
    background-color: orange;
    display: inline-flex;
    padding: 10px 10px;
    grid-area: search;
}

#searchBar h3 {
    padding: 3px 10px;
}

#search-bar {
    height: 30px;
    min-width: 200px;
}

.itemsMain {
    background-color: purple;
    grid-area: itemHolder;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-template-rows: repeat(auto-fit, 320px);
    row-gap: 30px;
    column-gap: 30px;
    overflow: scroll;
}

#sidebar {
    background-color: red;
    grid-area: sidebar;
}

#sidebar h1 {
    text-align: center;
    padding: 10px;
}

#template-btn-container {
    margin: 50px 70px;
}

#template-btn {
    font-size: 20px;
    padding: 10px 50px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
}

#createItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

#createItemMain {
    font-size: 20px;
    padding: 10px 50px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
}

#sortBy {
    background-color: chartreuse;
    grid-area: sortBy;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sortBy h3 {
    text-align: center;
    padding: 12px;
}

#sortByBtn {
    background-color: #F4EBD9;
    padding: 8px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
}

#sortByBtn:hover #dropDown {
    display: block;
}

#dropDown {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #F4EBD9;
    box-shadow: 0px 8px 16px 0px var(--color-dark);
    z-index: 1;
}

#dropDown a {
    color: #343434;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#loginSettings {
    background-color: green;
    grid-area: loginSettings;
}

.sidebar-fns li {
    min-height: 30px;
    min-width: 150px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 50px 20px;
    color: black;
    background-color: aqua;
    border-radius: 20px;
    cursor: pointer;
}

#sleuthLogo {
    background-color: cyan;
    grid-area: sleuth;
}

.itemCreatorContainer {
    display: hidden;
    height: 100vh;
    grid-template-columns: 1fr 4.5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    grid-template-areas:
        "itemCreatorTemplate itemCreatorProperties ."
        ". itemCreatorProperties ."
        "itemCreatorFavorite itemCreatorProperties ."
        "itemCreatorConfirm itemCreatorProperties itemCreatorCancel"
}

#itemCreatorTemplateDiv {
    background-color: red;
    grid-area: itemCreatorTemplate;
}

#itemCreatorConfirmDiv {
    background-color: blue;
    grid-area: itemCreatorConfirm;
}

#itemCreatorCancelDiv {
    background-color: green;
    grid-area: itemCreatorCancel;
}

#itemCreatorPropertiesDiv {
    background-color: yellow;
    grid-area: itemCreatorProperties;
}

#itemCreatorFavoriteDiv {
    background-color: pink;
    grid-area: itemCreatorFavorite;
}

.itemContainer {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "editBtn itemName deleteBtn"
    ". itemImg .";
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-color: green;
    border-style: solid;
    border-width: 10px;
    overflow: hidden;
    margin: 10px 10px;
    text-align: justify;
}

.itemContainer strong {
    padding: 0px 0px;
    text-align: center;
    grid-area: itemName;
}

.itemContainer img {
    margin: auto;
    display: block;
    max-width: 60%;
    max-height: 200px;
    overflow: hidden;
    object-fit: contain;
    grid-area: itemImg;
}
iframe{
    width:100px;
    height:100px;
    position:absolute;
    z-index: 9999;
}
.itemContainer .delete {
    grid-area:deleteBtn;
}
.itemContainer .edit{
    grid-area:editBtn;
}
.hidden{
    display:none;
}
.visible{
    display:block;
}